// Hide cite links in PDFjs
section.linkAnnotation {
  display: none !important;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #fafafa;
  color: #424242;
}

p.error {
  color: red;
}

// .Paper__viewer {
//   height: calc(100vh - 64px) !important;
// }

.PdfAnnotator {
  height: calc(100vh - 64px);
}


.Basic__paper {
  padding: 30px;
  margin-top: 114px;
  h3.Form__header {
    margin-top: 30px;
    margin-bottom: 0;
  }
  .FormControl {
    margin-right: 15px;
    margin-top: 10px;
    input {
      padding-right: 10px;
      padding-left: 10px;
    }
  }
  button.Submit__button {
    background-color: #A9DFE2;
    &:hover {
      background-color: #98c8cb;
    }
  }
}
.coner-toolbar {
  button {
    margin-top: 12px;
  }
  .paper-select {
    top: 6px;
  }


  .token-balance-container {
    float: right;
    height: 44px;
    margin: 10px 15px;
    padding: 0 15px;
    border-right: 1px solid #f1f1f1;
    border-left: 1px solid #f1f1f1;
    line-height: 22px;
    .token-balance {
      margin-top: 1px;
    }
    .price-usd {
      font-size: 12px;
      float: left;
      margin-top: -2px;
    }
  }
  .user-dropdown, .wallet-dropdown {
    float: right;
    margin-top: 6px;
    margin-left: 5px;
  }
  
}

.Wallet__menu {
  padding:0;
  ul {
    padding: 0;
  }
}

.sidebar {
  overflow: auto;
  color: rgb(119, 119, 119);
  background: linear-gradient(
    rgb(249, 248, 247),
    rgb(251, 250, 248) 46px,
    rgb(251, 251, 249) 120px,
    rgb(248, 247, 245) 35%,
    rgb(249, 248, 246)
  );
  margin-top: 64px;
  height: calc(100vh - 64px);
}

.sidebar__highlights {
  list-style: "none";
  padding: 0;
}

.highlight__location {
  margin-top: 0.5rem;
  text-align: right;
  font-size: 10px;
}

.highlight__image {
  overflow: auto;
  max-width: 300px;
  border: 1px dashed;
}

.sidebar__highlight {
  padding: 1rem;
  cursor: pointer;
  transition: background 140ms ease-in;
  border-bottom: 1px solid rgb(119, 119, 119);
}

.sidebar__highlight:hover {
  background: rgba(58, 56, 52, 0.08);
}

a {
  color: #d35400;
}

blockquote {
  padding: 0;
  margin: 0;
  quotes: "\201c" "\201d";
}
blockquote:before {
  content: open-quote;
}
blockquote:after {
  content: close-quote;
}
