.RatingTip__card {
  min-width: 265px;
}

.RatingTip__card .Button__dataset {
  background-color: #4fc3f7;
} 

.RatingTip__card .Button__method {
  background-color: #f48fb1;
} 
.RatingTip__card .Button__dataset:hover {
  background-color: #4fc3f7;
} 

.RatingTip__card .Button__method:hover {
  background-color: #f48fb1;
} 